<%= render partial: "decidim/time_tracker/admin/breadcrumbs" %>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <div class="button--title">
         <%= link_to t("assignees.actions.new", scope: "decidim.time_tracker.admin", name: assignees_label), new_task_activity_assignee_path, class: "button tiny button--simple" %>
      </div>
    </h2>
  </div>

    <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.assignee.fields.name", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignee.fields.email", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignee.fields.invited_by", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignee.fields.invited_at", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignee.fields.tos_accepted_at", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignee.fields.status", scope: "decidim.time_tracker") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.time_tracker") %></th>
          </tr>
        </thead>
        <tbody>
          <% assignees.each do |assignee| %>
            <tr data-id="<%= assignee.id %>" class="assignee--<%= assignee.status %>">
              <td>
                <%= assignee.user.name %><br>
              </td>
              <td>
                <%= assignee.user.email %><br>
              </td>
              <td>
                <%= assignee.invited_by_user&.name %><br>
              </td>
              <td>
                <%= l(assignee.invited_at, format: :decidim_short) if assignee.invited_at.present? %><br>
              </td>
              <td>
                <%= l(assignee.tos_accepted_at, format: :decidim_short) if assignee.tos_accepted_at.present? %><br>
              </td>
              <td class="assignee--status">
                <%= t("models.assignee.fields.statuses.#{assignee.status}", scope: "decidim.time_tracker") %><br>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :update, :assignee, assignee: assignee %>
                  <%= change_assignee_status_button assignee %>
                <% end %>

                <% if allowed_to? :destroy, :assignee, assignee: assignee %>
                  <%= icon_link_to "circle-x", task_activity_assignee_path(current_task, current_activity, assignee), t("actions.destroy", scope: "decidim.time_tracker"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.time_tracker") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "decidim/time_tracker/admin/time_tracker" %>
