<div class="time-tracker-activity" id="activity-<%= activity.id %>"
  data-activity-id="<%= activity.id %>"
  data-start-endpoint="<%= start_endpoint(activity) %>"
  data-stop-endpoint="<%= stop_endpoint(activity) %>"
  data-text-counter-stopped="<%= t ".counter_stopped" %>"
  data-elapsed-time="<%= activity.user_seconds_elapsed(current_user) %>"
  data-counter-active="<%= activity.counter_active_for?(current_user) %>"
  data-remaining-time="<%= activity.user_remaining_for_today(current_user) %>">
  <div class="content">

    <h4 class="h4 pb-4"><%= translated_attribute activity.description %></h4>
    <span><%= t("activity.info", scope: "decidim.components.time_tracker.views") %></span>
    <div class="elapsed-time pt-2"><%= t("activity.time_elapsed", scope: "decidim.components.time_tracker.views") %> <div class="elapsed-time-clock pt-2"><%= clockify_seconds(activity.user_seconds_elapsed(current_user)) %></div></div>

    <div class="top pt-2">
      <% if activity.status != :open %>
        <%= render partial: "callout_status", locals: { activity: activity } %>
      <% else %>
        <div class="tracker-buttons">
          <button class="danger button__lg time-tracker-activity-stop hidden">
            <img src="<%= asset_pack_path('media/images/stop_icon.svg') %>" alt="Stop">
          </button>
          <button class="secondary button__lg time-tracker-activity-pause hidden">
            <img src="<%= asset_pack_path('media/images/pause_icon.svg') %>" alt="Pause">
          </button>
          <button class="success button__lg time-tracker-activity-start">
            <img src="<%= asset_pack_path('media/images/play_icon.svg') %>" alt="Play">
          </button>
        </div>
      <% end %>
    </div>
    <div class="bottom">
      <% if activity.allow_answers_for?(current_user) %>
        <%= render partial: "answer_questionnaire", locals: { activity: activity } %>
      <% end %>
    </div>
  </div>
  <div class="callout alert hidden"></div>

  <%= render partial: "milestone_form", locals: { activity: activity } %>
</div>
