<div class="time-tracker-request" data-activity-id="<%= activity.id %>">
  <div class="content">
    <div class="left">
      <h2><%= translated_attribute activity.description %></h2>
    </div>
    <div class="right">
      <% if user_signed_in? %>
        <div class="top">
          <% if activity.status != :open %>
            <%= render partial: "callout_status", locals: { activity: activity } %>
          <% else %>
            <% if activity.assignation_pending? current_user %>
              <div class="callout warning"><%= t ".assignation_pending" %></div>
            <% elsif activity.assignation_rejected? current_user %>
              <div class="callout alert"><%= t ".assignation_rejected" %></div>
            <% end %>
          <% end %>
        </div>
        <div class="bottom">
          <% if activity.allow_answers_for?(current_user) %>
            <%= render partial: "answer_questionnaire", locals: { activity: activity } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
