<div class="columns large-2">
  <article class="card card--milestone">
    <% if milestone.attachments.present? %>
      <%= link_to milestone.attachments.first.url, target: :blank do %>
        <%= image_tag milestone.attachments.first.url, class: "card__image" %>
      <% end %>
    <% else %>
      <div class="card__image">
        <%= image_tag asset_url("decidim/time_tracker/milestone_placeholder.jpeg"), class: "card__image empty" %>
      </div>
    <% end %>

    <div class="card__content">
      <h5 class="card-title">
        <%= milestone.title %>
      </h5>

      <div class="card__text">
        <span><%= milestone.description %></span>
      </div>
    </div>

    <div class="card__footer">
      <div class="card__support">
        <div class="text"> <%= t(".time_spent") %></div>
        <div class="text-ellipsis">
          <strong><%= clockify_seconds(milestone.activity.user_seconds_elapsed(milestone.user)) %></strong>
        </div>
      </div>
    </div>
  </article>
</div>
