<div class="row milestone hide">
    <div class="column large-4 card-grid">
      <h3 class="title">
        <%= t("title", scope: "decidim.time_tracker.milestone") %>
      </h3>

      <div class="description">
        <%= t("description", scope: "decidim.time_tracker.milestone") %>
      </div>
    </div>
    <div class="column large-8 card-grid">

    <%= decidim_form_for(@form) do |f| %>
      <%= f.text_field :title %>
      <%= f.upload :file %>

      <%= f.submit  t("button_submit", scope: "decidim.time_tracker.milestone") %>
    <% end %>
    </div>
  </div>
