<div class="row activity" data-activity-id="<%= activity.id %>">
  <div class="columns large-8">
    <h2><%= translated_attribute activity.description %></h2>
  </div>
  <% if user_signed_in? %>
    <a id="request" href="<%= Decidim::EngineRouter.main_proxy(current_component).new_task_activity_assignee_path(activity.task, activity.id) %>" data-activity-id="<%= activity.id %>" class="columns large-3 button large">
      <%= t("index.request", scope: "decidim.components.time_tracker.views") %>
    </a>
  <% end %>
</div>
