<%= render partial: "decidim/shared/component_announcement" %>

<div class="row">
  <div id="time_tracker" class="columns">
    <% if !user_signed_in? %>
      <%= render partial: "sign_in" %>
    <% end %>
    <% tasks.each do |task| %>
      <h2 class="section-heading task-title"><%= translated_attribute task.name %></h2>
      <div id="activities">
        <% task.activities.active.each do |activity| %>
          <div class="section">
            <% if activity.assignation_accepted? current_user %>
              <%= render partial: "activity", locals: { activity: activity } %>
            <% elsif allowed_to? :create, :assignation, activity: activity %>
              <%= render partial: "request_activity", locals: { activity: activity } %>
            <% else %>
              <%= render partial: "idle_activity", locals: { activity: activity } %>
            <% end %>

            <% milestones_for_activity = assignation_milestones(activity) %>
            <% if milestones_for_activity.any? %>
              <div class="section">
                <div class="row columns large-12" data-toggle="milestones-collection-<%= activity.id %>">
                  <%= icon "caret-right", class: "icon--small" %>
                  <span class="show-milestones">
                    <%= t(".milestones_list") %>
                  <span>
                </div>

                <div id="milestones-collection-<%= activity.id %>" data-toggler=".hide" class="hide row small-up-1 medium-up-2 large-up-4 card-grid">
                  <% milestones_for_activity.each do |milestone| %>
                    <%= card_for milestone, type: :list %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag "decidim/time_tracker/time_tracker" %>
<%= javascript_include_tag "decidim/time_tracker/time_tracker" %>
