<%= render partial: "decidim/shared/component_announcement" %>

<section id="sub_hero" class="home__section">
  <div id="time_tracker" class="columns">
    <% if activities_empty? %>
      <div class="callout warning">
        <%= t(".empty") %>
      </div>
    <% else %>
      <% if !user_signed_in? %>
        <%= render partial: "sign_in" %>
      <% elsif must_fill_in_data? %>
        <%= render partial: "assignee_data" %>
      <% end %>

      <div id="tasks">
        <% tasks.each do |task| %>
          <% next if task.activities.active.empty? %>

          <h2 class="h2 decorator"><%= translated_attribute task.name %></h2>
          <div id="activities">
            <% task.activities.active.each do |activity| %>
              <div class="section">
                <% if activity.assignation_accepted? current_user %>
                  <%= render partial: "activity", locals: { activity: } %>
                <% elsif allowed_to? :create, :assignation, activity: %>
                  <%= render partial: "request_activity", locals: { activity: } %>
                <% else %>
                  <%= render partial: "idle_activity", locals: { activity: } %>
                <% end %>

                <% milestones_for_activity = assignation_milestones(activity) %>
                <% if milestones_for_activity.any? %>
                  <div class="section milestones-section">
                    <div class="milestone-link" data-toggle="milestones-collection-<%= activity.id %>">
                      <%= icon "arrow-right-s-line", class: "icon--small" %>
                      <span class="show-milestones">
                        <%= t(".milestones_list") %>
                      </span>
                    </div>

                    <div id="milestones-collection-<%= activity.id %>" data-toggler=".hidden" class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12 pt-6 hidden" hidden>
                      <% milestones_for_activity.each do |milestone| %>
                        <%= card_for milestone, type: :list %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<%= append_javascript_pack_tag "decidim_time_tracker" %>
