<div class="card__grid milestone-card">
  <div class="card__grid-img">
    <%= image %>
  </div>
  <div class="card__grid-text">

    <%= title %>

    <div class="card__text">

        <% if list? %>
            <b><%= model.title %></b>
        <% end %>

        <div class="text-ellipsis">
          <%= model.description %>
        </div>
    </div>

    <div class="card__grid-metadata">
      <% if list? %>
        <div class="text"> <%= t(".time_dedicated") %></div>
        <div class="text">
          <strong><%= clockify_seconds(seconds_elapsed) %></strong>
        </div>
      <% else %>
        <div class="text">
          <%= model.created_at.strftime("%d %b %Y") %>
        </div>
        <div class="text">
          <%= model.created_at.strftime("%H:%M") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
