<div id="a" class="column">
  <article class="card card--process">
    <% if last_milestone&.attachments.present? %>
      <img class="card__image" src="<%= last_milestone.attachments&.first&.url %>">
    <% end %>
    <div class="card__content">
      <div class="card__header">
        <a href="<%= assignee_path %>">
          <h5 class="card__title"> <%= t(".assignees_activity", user_name: model.user.name) %> </h5>
        </a>
        <div class="author--inline">
          <div class="collapsible-list ">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <%= link_to decidim.profile_path(model.user.nickname) do %>
                    <span class="author__avatar">
                      <%= image_tag model.user.avatar_url %>
                    </span>
                    <span class="author__name">
                      <%= model.user.name %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card__text">
        <div class="card__text--paragraph">
          <p>
            <%= last_milestone&.title %>
          </p>
        </div>
      </div>

    </div>
    <div class="card__footer card__footer--spaces">
      <div class="card__support">
        <div class="text-ellipsis">
          <strong><%= clockify_seconds(seconds_elapsed) %></strong>
        </div>
        <div class="text-uppercase"> <%= t(".time_spent") %></div>
      </div>
    </div>
  </article>
</div>
