<div class="card rounded-border">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= title %>
      <div class="button--title">
        <% if allowed_to? :update, :questionnaire, questionnaire: questionnaire %>
          <%= link_to t(".edit"), edit_path, class: "button button__sm button__secondary" %>
          <%= link_to t(".manage_questions"), manage_questions_path, class: "button button__sm button__secondary" %>
        <% end %>
      </div>
    </h1>
  </div>

  <div class="card-section">
    <div class="container">
      <h3 class="card-title"><%= decidim_sanitize_admin translated_attribute(questionnaire.title) %></h3><br>
      <p class="text-small"><%== decidim_sanitize_admin translated_attribute(questionnaire.description) %></p><br>
      <em class="text-small"><%== decidim_sanitize_admin translated_attribute(questionnaire.tos) %></em><br>
      <%= cell(
            "decidim/forms/question_readonly",
            collection: questionnaire.questions.not_conditioned.not_separator,
            indexed_items: questionnaire.questions.not_conditioned.not_separator.not_title_and_description.pluck(:id)
          ) %>
    </div>
  </div>
</div>
