<div class="layout-item">
  <main class="layout-item__main">
    <div class="section">
      <%= link_to root_path, class: "small hollow" do %>
        <div class="milestone-link">
          <%= icon "arrow-left-s-line", class: "icon--small", role: "img", "aria-hidden": true %>
          <%= t(".back_to_list") %>
        </div>
      <% end %>
      <h2 class="h2 pt-2"> <%= t(".assignations_activity", user_name: user.name) %> </h2>

      <%= link_to decidim.profile_path(user.nickname) do %>
        <div class="author pt-2">
          <div class="author__container">
            <span class="author__avatar-container">
              <%= image_tag present(user).avatar_url %>
            </span>
            <span class="author__name">
              <%= user.name %>
            </span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex">
      <div class="section">
        <% activities.each do |activity| %>
          <h4 class="h4 decorator pt-10"><%= translated_attribute(activity.description) %></h4>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12 pt-8">
            <% activity.milestones.where(user: user).each do |milestone| %>
              <%= card_for milestone %>
            <% end %>
          </div>
        <% end %>
      </div>
  </main>
  <aside class="layout-item__aside">
    <div class="statistic__container">
      <div class="statistic">
        <h3 class="statistic__title"><%= t(".total_time") %></h3>
        <b><%= clockify_seconds user_total_time_dedicated(user) %></b>
      </div>

      <div class="statistic">
        <h3 class="statistic__title"><%= t(".joined_on") %></h3>
        <b><%= user_joined_at(user).strftime("%d %b %Y") %></b>
      </div>

      <div class="statistic">
        <h3 class="statistic__title"><%= t(".last_worked_on") %></h3>
        <b><%= user_last_milestone(user).created_at.strftime("%d %b %Y") %></b>
      </div>
    </div>
  </aside>
</div>

<%= append_javascript_pack_tag "decidim_time_tracker" %>
