<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <div class="button--title">
        <%= link_to t("tasks.actions.new", scope: "decidim.time_tracker.admin", name: tasks_label), new_task_path, class: "button tiny button--simple" %>
      </div>
    </h2>
  </div>

    <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.task.fields.id", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.task.fields.name", scope: "decidim.time_tracker") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.time_tracker") %></th>
          </tr>
        </thead>
        <tbody>
          <% tasks.each do |task| %>
            <tr data-id="<%= task.id %>">
              <td>
                <%= task.id %><br>
              </td>
              <td>
                <%= translated_attribute(task.name) %><br>
              </td>
              <td class="table-list__actions">

                <% if allowed_to? :update, :task, task: task %>
                    <%= icon_link_to "folder", task_activities_path(task), t("actions.activities", scope: "decidim.time_tracker"), class: "action-icon--attachment_collections" %>
                <% end %>

                <% if allowed_to? :update, :task, task: task %>
                  <%= icon_link_to "pencil", edit_task_path(task), t("actions.edit", scope: "decidim.time_tracker"), class: "action-icon--edit" %>
                <% end %>

                <% if allowed_to? :destroy, :task, task: task %>
                  <%= icon_link_to "circle-x", task_path(task), t("actions.destroy", scope: "decidim.time_tracker"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.time_tracker") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%
=begin
      %>
 <%= paginate tasks, theme: "decidim" %>
<%
=end
%>
    </div>
  </div>
</div>
