<%= render partial: "decidim/time_tracker/admin/breadcrumbs" %>

<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
         <%= link_to t("assignations.actions.new", scope: "decidim.time_tracker.admin", name: assignations_label), new_task_activity_assignation_path, class: "button button__sm button__secondary" %>
    </h1>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.assignation.fields.name", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignation.fields.email", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignation.fields.invited_by", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignation.fields.invited_at", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignation.fields.tos_accepted_at", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignation.fields.time_dedicated", scope: "decidim.time_tracker") %></th>
            <th><%= t("models.assignation.fields.status", scope: "decidim.time_tracker") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.time_tracker.admin") %></th>
          </tr>
        </thead>
        <tbody>
          <% assignations.each do |assignation| %>
            <tr data-id="<%= assignation.id %>" class="assignation--<%= assignation.status %>">
              <td>
                <%= assignation.user.name %>
              </td>
              <td>
                <%= assignation.user.email %>
              </td>
              <td>
                <%= assignation.invited_by_user&.name %>
              </td>
              <td>
                <%= l(assignation.invited_at, format: :decidim_short) if assignation.invited_at.present? %>
              </td>
              <td>
                <%= l(assignation.assignee.tos_accepted_at(time_tracker), format: :decidim_short) if assignation.assignee.tos_accepted?(time_tracker) %>
              </td>
              <td>
                <%= clockify_seconds(assignation.time_dedicated) if assignation.time_dedicated > 0 %>
              </td>
              <td class="assignation--status">
                <%= t("models.assignation.fields.statuses.#{assignation.status}", scope: "decidim.time_tracker") %>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :update, :assignation, assignation: assignation %>
                  <%= change_assignation_status_button assignation %>
                <% end %>

                <% if allowed_to? :destroy, :assignation, assignation: assignation %>
                  <%= icon_link_to "close-circle-line", task_activity_assignation_path(current_task, current_activity, assignation), t("assignations.actions.destroy", scope: "decidim.time_tracker.admin"), method: :delete, class: "action-icon--remove", data: { confirm: t("assignations.actions.confirm_destroy", scope: "decidim.time_tracker.admin") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
