<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="item_show__header">
        <h1 class="item_show__header-title">
          <%= title %>
          <% if action_name == "edit" %>
            <div class="button--title">
              <%= link_to t("activities.actions.assignations", scope: "decidim.time_tracker.admin"), task_activity_assignations_path(current_task, current_activity), class: "button button__sm button__secondary" %>
            </div>
          <% end %>
        </h1>
      </div>
      <div class="row column">
        <%= form.translated :text_field, :description, autofocus: true %>
      </div>

      <div class="row column">
        <%= form.check_box :active %>
      </div>

      <div class="row column">
        <%= form.datetime_field :start_date %>
      </div>

      <div class="row column">
        <%= form.datetime_field :end_date %>
      </div>

      <div class="row column">
        <%= form.datetime_field :requests_start_at %>
      </div>

      <div class="row column">
        <%= form.number_field :max_minutes_per_day %>
      </div>

      <div class="button button__sm button__secondary pt-4">
        <%= form.submit submit %>
      </div>
    </div>
  </div>
</div>
