<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <section class="section">
    <% if assignations.any? %>

      <h3 class="h3"><%== t("reports.user.index.dedicated_time", scope: "decidim.time_tracker", time: clockify_seconds(total_time)) %></h3>
      <div class="card__list-list pt-8">
        <% assignations.each do |assignation| %>
          <%= link_to activity_path(assignation), class: "card__list time-tracker--activity", target: :blank do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <div>
                  <h5 class="h5 pb-2">
                    <%= translated_attribute(assignation.activity.description) %>
                  </h5>
                  <span class="text-xs">
                    <%= assignation_status_label assignation.status %>
                    <span class="assignation--date"><%= assignation_date(assignation) %></span>
                  </span>
                </div>
              </div>
              <div class="card--list__annotation">
                <%= clockify_seconds assignation.time_dedicated, padded: true %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="card--list__item">
        <div class="card--list__text">
          <%= t(".empty") %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<%= append_javascript_pack_tag "decidim_time_tracker" %>
